body {
    margin: 0px;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

main {
    padding-top: 20px;
    width: 980px;
    margin-left: auto;
    margin-right :auto;
}

header {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
}

nav {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: white;
}

table {
    text-align: center;
}

img {
    width: 450px;
    height: 450px;
}

th, td {
    text-align: center;
    color: black;
}

a {
    color: black;
    text-decoration: dotted underline;
    border: 5px solid white; 
    transition: border ease-in-out 0.3s, background ease-in-out 0.3s, color ease-in-out 0.3s;
}

a:hover {
    border: 5px solid black; 
    background: black;
    color: white;
}

/*Kod hämtad från https://www.w3schools.com/TAGS/tryit.asp?filename=tryhtml5_aside2 */
aside {
    width: 39%;
    float: left;
    font-style: italic;
    background-color: lightgray;
    margin-left: 5px;
}
.ad {
    width: 100%;

}

td a {
    color: black;
    text-decoration: none;
    border: 5px solid white;
    transition: background-color ease-in-out 0.3s, color ease-in-out 0.3s, border ease-in-out 0.3s;
}

td a:visited {
    color: black;
    text-decoration: none;
}

td a:hover {
    color: white;
    text-decoration: none;
    border: 5px solid black;
    background-color: black;
}

footer {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    bottom: 0px;
    position: absolute;
}

.navButton  {
    float: left;
    background-color: white;
}



.maps {
    

}

.sort {

    border: 2px solid black;
    margin-top: 15px;
    margin-bottom: 15px;

}

.object {
    border: 2px solid black;
    width: 60%;
    background-color: red;
    float: left;
}

.memberL {
    float: left;
    width: 20%;
    height: 260px;
    background: black;
}

.member {
    float: left;
    width: 20%;
    height: 260px;
    margin-left: 20%;
    background: black;
}

.member img, .memberL img {
    height: 196px;
    width: 196px;
}

.overheadImg {
    width: 80%;
    height: 320px;
    float: left;
}

.propertybox {
    float: left;
    border-color: black;
}

.pricebox {
    border-color: black;
}